<!DOCTYPE html>
<html ng-app="MainModule">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;IE=11" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="fragment" content="!">

  <base href="/"/>

  <title>Video interview example</title>

  <link href="signalling/css/bootstrap.min.css" rel="stylesheet">

  <script src="signalling/js/external/jquery/jquery-2.1.1.min.js"></script>
  <script src="signalling/js/external/jquery/jquery-ui-1.10.4.min.js"></script>
  <script src="signalling/js/external/angular/angular.min.js"></script>
  <script src="signalling/js/external/ui-router/angular-ui-router.min.js"></script>
  <script src="signalling/js/external/bootstrap/bootstrap.min.js"></script>
  <script src="signalling/js/external/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>

  <script src="signalling/js/internal/media/socket.io-0.9.16.min.js"></script>
  <script src="signalling/js/internal/media/adapter.js"></script>
  <script src="signalling/js/internal/media/ice_validator.js"></script>
  <script src="signalling/js/internal/media/webrtc.js"></script>
  <script src="signalling/js/internal/media/record.js"></script>
  <script src="signalling/js/internal/media/meeting.js"></script>
  <script src="signalling/js/internal/app.js"></script>
</head>
<body>
  <div id="meeting" class="row" ng-controller="meetingCtrl">
    <script>
      $(document).ready(function() {
        WebRTC.onReady();
      });
    </script>

    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-content">
          <div id="actualMeeting" class="ng-hide" ng-show="!models.meetingEnded">
            <div style="padding-bottom:15px">
              <button class="btn btn-outline btn-success ng-hide" ng-show="models.showJoinConversation" ng-click="methods.joinConversation();" id="joinConversationBtn">Join</button>
              <button class="btn btn-outline btn-warning ng-hide" ng-show="models.showLeaveConversation" ng-click="methods.leaveConversation();" id="leaveConversationBtn">Leave</button>
            </div>
            <div style="display:none;">
              <canvas id="snapshotCanvas" width="640" height="480" style="display:none;"></canvas>
            </div>
            <div>
              <video class="ng-hide" ng-show="models.showLocalVideo" id="local" width="320" height="240" controls="" autoplay="" muted=""></video>
              <video class="ng-hide" ng-show="models.showRemoteVideo" id="remote" width="320" height="240" controls="" autoplay=""></video>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="models.showChat">
        <div class="small-chat-box fadeInRight animated">
          <div class="heading" draggable="true">Chat</div>
          <div class="content onboarding-chat-content">
          </div>
          <div class="form-chat">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" ng-model="models.chatMessage" ng-enter="methods.sendChatMessage()">
              <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="methods.sendChatMessage()">Send</button></span>
            </div>
          </div>
        </div>
        <div id="small-chat">
          <span class="badge badge-warning pull-right"></span>
          <a class="open-small-chat">
            <i class="fa fa-comments"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


